In [24]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_text
from sklearn.tree import export_graphviz
import graphviz

from sklearn.preprocessing import StandardScaler

In [26]:
sales = pd.read_csv("dataset/sales_s.csv", index_col="True_index")

In [27]:
sales

,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
True_index,,,,,,,,,
0,625,3,734874,641,1,1,0,0,7293
1,293,2,734884,877,1,1,0,1,7060
2,39,4,735256,561,1,1,0,0,4565
3,676,4,734894,1584,1,1,0,0,6380
4,709,3,735255,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
712040,674,6,735253,611,1,0,0,0,4702
712041,1014,4,735613,1267,1,1,0,0,12545
712042,135,6,735618,595,1,0,0,0,5823
712043,810,1,735251,599,1,1,0,1,7986
712044,592,1,734886,798,1,1,0,0,6565

In [29]:
features = sales[["Store_ID", "Day_of_week", "Nb_customers_on_day", "Open", "Promotion", "State_holiday", "School_holiday"]]
label = sales["Sales"]

In [30]:
#features["Store_ID"] = features["Store_ID"].apply(str)
#features["Day_of_week"] = features["Day_of_week"].apply(str)
features

,Store_ID,Day_of_week,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday
True_index,,,,,,,
0,625,3,641,1,1,0,0
1,293,2,877,1,1,0,1
2,39,4,561,1,1,0,0
3,676,4,1584,1,1,0,0
4,709,3,1477,1,1,0,0
...,...,...,...,...,...,...,...
712040,674,6,611,1,0,0,0
712041,1014,4,1267,1,1,0,0
712042,135,6,595,1,0,0,0
712043,810,1,599,1,1,0,1
712044,592,1,798,1,1,0,0

In [31]:
label

True_index
0          7293
1          7060
2          4565
3          6380
4         11647
          ...
712040     4702
712041    12545
712042     5823
712043     7986
712044     6565
Name: Sales, Length: 640840, dtype: int64

In [32]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.25)

In [33]:
scale = StandardScaler()
scale.fit(X_train)
X_train_scaled = scale.transform(X_train)
X_test_scaled = scale.transform(X_test)

# Lin Reg

In [34]:
linear_r = LinearRegression()
# unstandard
linear_r.fit(X_train, y_train)
print("Unstandard: ", linear_r.score(X_test, y_test))

#stardard
linear_r.fit(X_train_scaled, y_train)
print("Standard: ", linear_r.score(X_test_scaled, y_test))

Unstandard:  0.8524671000035933
Standard:  0.8524671000035933

# Ridge

In [35]:
ridge_r = Ridge()

#unstandard
ridge_r.fit(X_train, y_train)
print("Unstandard: ", ridge_r.score(X_test, y_test))

#standard
ridge_r.fit(X_train_scaled, y_train)
print("Standard: ",ridge_r.score(X_test_scaled, y_test))

Unstandard:  0.8524670847503704
Standard:  0.8524671089548251

# Decision Tree

In [36]:
#create the model
tree = DecisionTreeRegressor()

#train the model unstandard
tree.fit(X_train, y_train)
print(tree.score(X_test, y_test))

#train model standard
tree.fit(X_train_scaled, y_train)
print(tree.score(X_test_scaled, y_test))

0.9461866467374981
0.9469446239158258

In [24]:

# export_graphviz(tree, out_file='tree.dot', feature_names=features.columns, impurity=False, filled=True)

# with open('tree.dot') as file:
#     dot_graph = file.read()

# graphviz.Source(dot_graph)

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sn
# corr=np.abs(X_train_scaled)
# #Set up mask for triangle representation
# mask = np.zeros_like(corr, dtype=np.bool)
# mask[np.triu_indices_from(mask)] = True
# # Set up the matplotlib figure
# f, ax = plt.subplots(figsize=(14, 14))
# # Generate a custom diverging colormap
# cmap = sn.diverging_palette(220, 10, as_cmap=True)
# # Draw the heatmap with the mask and correct aspect ratio
# sn.heatmap(corr, mask=mask,  vmax=1,square=True, linewidths=.5, cbar_kws={"shrink": .5},annot = corr)
# plt.show()