In [30]:
import pandas as pd
import numpy as np
import pickle

In [31]:
data = pd.read_csv("dataset/Sales.csv")
data.head(20)

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,2013-11-06,641,1,1,0,0,7293
1,1,293,2,2013-07-16,877,1,1,0,1,7060
2,2,39,4,2014-01-23,561,1,1,0,0,4565
3,3,676,4,2013-09-26,1584,1,1,0,0,6380
4,4,709,3,2014-01-22,1477,1,1,0,0,11647
5,5,914,6,2014-10-04,877,1,0,0,0,7967
6,6,1022,3,2013-06-05,789,1,1,0,0,7101
7,8,90,3,2013-02-06,941,1,1,0,0,7516
8,9,860,1,2013-10-21,718,1,1,0,0,6295
9,10,356,4,2014-06-26,317,1,0,0,0,3511
10,11,520,4,2014-04-24,388,1,0,0,1,3545
11,12,915,4,2015-02-12,419,1,0,0,0,4813
12,13,651,5,2013-11-08,1089,1,1,0,0,8652
13,14,787,5,2014-07-25,1048,1,0,0,1,8897
14,15,79,2,2015-05-05,671,1,1,0,0,7294
15,16,105,1,2013-11-18,650,1,1,0,0,6024
16,17,383,2,2015-01-06,1986,1,1,0,1,15943
17,18,614,7,2014-08-31,0,0,0,0,0,0
18,20,197,3,2013-11-27,851,1,0,0,0,6434
19,21,87,6,2015-03-14,491,1,0,0,0,4058

In [32]:
final_data = pd.read_csv("dataset/validation_for_students.csv")
final_data

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday
0,7,764,4,2013-12-26,0,0,0,c,1
1,19,22,3,2013-05-22,449,1,0,0,1
2,31,1087,6,2013-06-29,622,1,0,0,0
3,45,139,6,2013-08-17,314,1,0,0,0
4,56,568,1,2014-04-07,356,1,0,0,0
...,...,...,...,...,...,...,...,...,...
71200,712004,217,2,2015-01-13,633,1,1,0,0
71201,712018,604,3,2014-04-30,743,1,1,0,0
71202,712020,1021,5,2014-07-18,1852,1,1,0,1
71203,712023,28,3,2014-08-27,0,0,0,0,1
71204,712027,655,3,2014-12-31,455,1,0,0,1

In [33]:
print("Uniques, Holiday: ", data["State_holiday"].unique())
print("Uniques, Day of week: ", data["Day_of_week"].unique())
print("Uniques, School holiday: ", data["School_holiday"].unique())

Uniques, Holiday:  ['0' 'c' 'a' 'b']
Uniques, Day of week:  [3 2 4 6 1 5 7]
Uniques, School holiday:  [0 1]

In [34]:
data.sort_values(by="Sales", ascending=False).head(30)
print(data[data["State_holiday"] == 'a']["Sales"].value_counts())
data[data["State_holiday"] == 'a']["Sales"].count()

0       12413
6548        2
8365        2
7693        2
7488        2
        ...
6851        1
9804        1
7626        1
8929        1
3604        1
Name: Sales, Length: 421, dtype: int64

12842

In [35]:
12842-12413

429

In [36]:
print(data[data["State_holiday"] == "b"]["Sales"].value_counts())
print(data[data["State_holiday"] == "b"]["Sales"].count())
print(data[data["State_holiday"] == "b"]["Open"].value_counts())

0        4112
11343       1
4001        1
1519        1
13069       1
         ...
3242        1
15047       1
8364        1
18913       1
7340        1
Name: Sales, Length: 103, dtype: int64
4214
0    4112
1     102
Name: Open, dtype: int64

In [37]:
print(data[data["State_holiday"] == "c"]["Sales"].value_counts())
print(data[data["State_holiday"] == "c"]["Sales"].count())
print(data[data["State_holiday"] == "c"]["Open"].value_counts())

0        2576
7832        1
8513        1
13319       1
10895       1
5242        1
7475        1
15400       1
15449       1
16961       1
10666       1
7818        1
12074       1
10033       1
11106       1
4146        1
8890        1
6147        1
7138        1
4657        1
14166       1
6575        1
3178        1
11745       1
4601        1
5687        1
6148        1
6127        1
9741        1
4696        1
1800        1
26756       1
6680        1
7612        1
8057        1
13376       1
3277        1
13954       1
5424        1
3888        1
24245       1
32169       1
12961       1
4712        1
15117       1
5111        1
17597       1
3719        1
5784        1
Name: Sales, dtype: int64
2624
0    2576
1      48
Name: Open, dtype: int64

In [38]:
print(data["Store_ID"].value_counts())
len(data)

1045    645
309     636
754     635
286     634
432     634
       ...
287     448
1004    448
1065    445
81      438
542     436
Name: Store_ID, Length: 1115, dtype: int64

640840

In [39]:
sales = data
#sales["Store_ID"] = sales["Store_ID"].apply(str)
# state_hol = pd.get_dummies(sales["State_holiday"], prefix="State_holiday")
# display(sales)
# sales_merged = pd.merge(left= sales, right=state_hol, right_index=True, left_index=True)
# sales_merged = sales_merged.drop("State_holiday", axis=1)
# sales_merged.drop(columns="State_holiday_0", inplace=True)
#sales_merged = sales_merged[sales_merged["Open"]==1]

In [40]:
from datetime import datetime as dt

def convert_date_to_ordinal(date):
    return dt.strptime(date, '%Y-%M-%d').toordinal()

sales['Date']=sales['Date'].apply(convert_date_to_ordinal)

In [41]:
final_data['Date']=final_data['Date'].apply(convert_date_to_ordinal)

In [42]:
sales["State_holiday"] = sales["State_holiday"].replace(
    {'c': 1,
    'b': 1,
    'a': 1}
)

In [43]:
final_data["State_holiday"] = final_data["State_holiday"].replace(
    {'c': 1,
    'b': 1,
    'a': 1}
)

In [44]:
print(sales['State_holiday'].unique())

sales['State_holiday'] = sales['State_holiday'].astype(int)

['0' 1]

In [45]:
final_data['State_holiday'] = final_data['State_holiday'].astype(int)
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71205 entries, 0 to 71204
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   True_index           71205 non-null  int64
 1   Store_ID             71205 non-null  int64
 2   Day_of_week          71205 non-null  int64
 3   Date                 71205 non-null  int64
 4   Nb_customers_on_day  71205 non-null  int64
 5   Open                 71205 non-null  int64
 6   Promotion            71205 non-null  int64
 7   State_holiday        71205 non-null  int32
 8   School_holiday       71205 non-null  int64
dtypes: int32(1), int64(8)
memory usage: 4.6 MB

In [46]:
sales

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,734874,641,1,1,0,0,7293
1,1,293,2,734884,877,1,1,0,1,7060
2,2,39,4,735256,561,1,1,0,0,4565
3,3,676,4,734894,1584,1,1,0,0,6380
4,4,709,3,735255,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...,...
640835,712040,674,6,735253,611,1,0,0,0,4702
640836,712041,1014,4,735613,1267,1,1,0,0,12545
640837,712042,135,6,735618,595,1,0,0,0,5823
640838,712043,810,1,735251,599,1,1,0,1,7986
640839,712044,592,1,734886,798,1,1,0,0,6565

In [47]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640840 entries, 0 to 640839
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   True_index           640840 non-null  int64
 1   Store_ID             640840 non-null  int64
 2   Day_of_week          640840 non-null  int64
 3   Date                 640840 non-null  int64
 4   Nb_customers_on_day  640840 non-null  int64
 5   Open                 640840 non-null  int64
 6   Promotion            640840 non-null  int64
 7   State_holiday        640840 non-null  int32
 8   School_holiday       640840 non-null  int64
 9   Sales                640840 non-null  int64
dtypes: int32(1), int64(9)
memory usage: 46.4 MB

In [48]:
sales.to_csv("dataset/sales_s.csv", index=False)
#sales_merged.to_csv("dataset/sales_merged.csv", index=False)

In [49]:
sales_concat = pd.concat([sales, final_data])
sales_concat.sort_values("True_index").head(20)

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,734874,641,1,1,0,0,7293.0
1,1,293,2,734884,877,1,1,0,1,7060.0
2,2,39,4,735256,561,1,1,0,0,4565.0
3,3,676,4,734894,1584,1,1,0,0,6380.0
4,4,709,3,735255,1477,1,1,0,0,11647.0
5,5,914,6,735237,877,1,0,0,0,7967.0
6,6,1022,3,734873,789,1,1,0,0,7101.0
0,7,764,4,734894,0,0,0,1,1,NaN
7,8,90,3,734874,941,1,1,0,0,7516.0
8,9,860,1,734889,718,1,1,0,0,6295.0
9,10,356,4,735259,317,1,0,0,0,3511.0
10,11,520,4,735257,388,1,0,0,1,3545.0
11,12,915,4,735610,419,1,0,0,0,4813.0
12,13,651,5,734876,1089,1,1,0,0,8652.0
13,14,787,5,735258,1048,1,0,0,1,8897.0
14,15,79,2,735603,671,1,1,0,0,7294.0
15,16,105,1,734886,650,1,1,0,0,6024.0
16,17,383,2,735604,1986,1,1,0,1,15943.0
17,18,614,7,735264,0,0,0,0,0,0.0
1,19,22,3,734890,449,1,0,0,1,NaN

In [50]:
print(sales_concat['State_holiday'].unique())

[0 1]

In [52]:
final_data.to_csv("dataset/processed_validation.csv", index=False)