In [3]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_text
from sklearn.tree import export_graphviz
import graphviz

from sklearn.preprocessing import StandardScaler

In [4]:
sales = pd.read_csv("dataset/sales.csv", index_col="True_index")

In [5]:


sales

,Store_ID,Day_of_week,Nb_customers_on_day,Open,Promotion,School_holiday,Sales,State_holiday_a,State_holiday_b,State_holiday_c
True_index,,,,,,,,,,
0,625,3,641,1,1,0,7293,0,0,0
1,293,2,877,1,1,1,7060,0,0,0
2,39,4,561,1,1,0,4565,0,0,0
3,676,4,1584,1,1,0,6380,0,0,0
4,709,3,1477,1,1,0,11647,0,0,0
...,...,...,...,...,...,...,...,...,...,...
712040,674,6,611,1,0,0,4702,0,0,0
712041,1014,4,1267,1,1,0,12545,0,0,0
712042,135,6,595,1,0,0,5823,0,0,0
712043,810,1,599,1,1,1,7986,0,0,0
712044,592,1,798,1,1,0,6565,0,0,0

In [6]:
features = sales[["Store_ID", "Day_of_week", "Nb_customers_on_day", "Open", "Promotion", "School_holiday", "State_holiday_a", "State_holiday_b", "State_holiday_c"]]
label = sales["Sales"]

In [14]:
features["Store_ID"] = features["Store_ID"].apply(str)
features["Day_of_week"] = features["Day_of_week"].apply(str)
features

C:\Users\edaz1\AppData\Local\Temp\ipykernel_5796\3358129329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Store_ID"] = features["Store_ID"].apply(str)
C:\Users\edaz1\AppData\Local\Temp\ipykernel_5796\3358129329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features["Day_of_week"] = features["Day_of_week"].apply(str)

,Store_ID,Day_of_week,Nb_customers_on_day,Open,Promotion,School_holiday,State_holiday_a,State_holiday_b,State_holiday_c
True_index,,,,,,,,,
0,625,3,641,1,1,0,0,0,0
1,293,2,877,1,1,1,0,0,0
2,39,4,561,1,1,0,0,0,0
3,676,4,1584,1,1,0,0,0,0
4,709,3,1477,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
712040,674,6,611,1,0,0,0,0,0
712041,1014,4,1267,1,1,0,0,0,0
712042,135,6,595,1,0,0,0,0,0
712043,810,1,599,1,1,1,0,0,0
712044,592,1,798,1,1,0,0,0,0

In [8]:
label

True_index
0          7293
1          7060
2          4565
3          6380
4         11647
          ...
712040     4702
712041    12545
712042     5823
712043     7986
712044     6565
Name: Sales, Length: 640840, dtype: int64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.25)

In [16]:
scale = StandardScaler()
scale.fit(X_train)
X_train_scaled = scale.transform(X_train)
X_test_scaled = scale.transform(X_test)

# Lin Reg

In [17]:
linear_r = LinearRegression()
# unstandard
linear_r.fit(X_train, y_train)
print("Unstandard: ", linear_r.score(X_test, y_test))

#stardard
linear_r.fit(X_train_scaled, y_train)
print("Standard: ", linear_r.score(X_test_scaled, y_test))

Unstandard:  0.8535623579139996
Standard:  0.8535623579139996

# Ridge

In [18]:
ridge_r = Ridge()

#unstandard
ridge_r.fit(X_train, y_train)
print("Unstandard: ", ridge_r.score(X_test, y_test))

#standard
ridge_r.fit(X_train_scaled, y_train)
print("Standard: ",ridge_r.score(X_test_scaled, y_test))

Unstandard:  0.8535623588955823
Standard:  0.8535623607922259

# Decision Tree

In [19]:
#create the model
tree = DecisionTreeRegressor()

#train the model unstandard
tree.fit(X_train, y_train)
print(tree.score(X_test, y_test))

#train model standard
tree.fit(X_train_scaled, y_train)
print(tree.score(X_test_scaled, y_test))

0.9460133045350947
0.9457441228985924

In [24]:

# export_graphviz(tree, out_file='tree.dot', feature_names=features.columns, impurity=False, filled=True)

# with open('tree.dot') as file:
#     dot_graph = file.read()

# graphviz.Source(dot_graph)

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sn
# corr=np.abs(X_train_scaled)
# #Set up mask for triangle representation
# mask = np.zeros_like(corr, dtype=np.bool)
# mask[np.triu_indices_from(mask)] = True
# # Set up the matplotlib figure
# f, ax = plt.subplots(figsize=(14, 14))
# # Generate a custom diverging colormap
# cmap = sn.diverging_palette(220, 10, as_cmap=True)
# # Draw the heatmap with the mask and correct aspect ratio
# sn.heatmap(corr, mask=mask,  vmax=1,square=True, linewidths=.5, cbar_kws={"shrink": .5},annot = corr)
# plt.show()