In [2]:
import pandas as pd
import numpy as np
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_text
from sklearn.tree import export_graphviz
import graphviz

from sklearn.preprocessing import StandardScaler

import xgboost as xgb

In [92]:
sales = pd.read_csv("dataset/sales_s.csv", index_col="True_index")

In [3]:
final_data = pd.read_csv("dataset/processed_validation.csv")
final_data.sort_values("True_index").head(12)

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday
0,7,764,4,734894,0,0,0,1,1
1,19,22,3,734890,449,1,0,0,1
2,31,1087,6,734897,622,1,0,0,0
3,45,139,6,734885,314,1,0,0,0
4,56,568,1,735240,356,1,0,0,0
5,57,1056,6,735618,522,1,0,0,0
6,61,12,3,735264,609,1,0,0,1
7,63,76,1,735256,882,1,0,0,0
8,79,605,4,734885,448,1,0,0,0
9,81,820,6,734891,996,1,0,0,0
10,84,481,2,734875,330,1,0,0,0
11,86,871,6,735619,618,1,0,0,0

In [93]:
sales

,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
True_index,,,,,,,,,
0,625,3,734874,641,1,1,0,0,7293
1,293,2,734884,877,1,1,0,1,7060
2,39,4,735256,561,1,1,0,0,4565
3,676,4,734894,1584,1,1,0,0,6380
4,709,3,735255,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
712040,674,6,735253,611,1,0,0,0,4702
712041,1014,4,735613,1267,1,1,0,0,12545
712042,135,6,735618,595,1,0,0,0,5823
712043,810,1,735251,599,1,1,0,1,7986
712044,592,1,734886,798,1,1,0,0,6565

In [4]:
features = final_data[["Store_ID", "Date", "Day_of_week", "Nb_customers_on_day", "Open", "Promotion", "State_holiday", "School_holiday"]]

In [4]:
#features["Store_ID"] = features["Store_ID"].apply(str)
#features["Day_of_week"] = features["Day_of_week"].apply(str)
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712045 entries, 0 to 712044
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Store_ID             712045 non-null  int64
 1   Date                 712045 non-null  int64
 2   Day_of_week          712045 non-null  int64
 3   Nb_customers_on_day  712045 non-null  int64
 4   Open                 712045 non-null  int64
 5   Promotion            712045 non-null  int64
 6   State_holiday        712045 non-null  int64
 7   School_holiday       712045 non-null  int64
dtypes: int64(8)
memory usage: 43.5 MB

In [96]:
label

True_index
0          7293
1          7060
2          4565
3          6380
4         11647
          ...
712040     4702
712041    12545
712042     5823
712043     7986
712044     6565
Name: Sales, Length: 640840, dtype: int64

In [5]:
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.25)

In [15]:
X_train

,Store_ID,Date,Day_of_week,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday
275480,221,735603,1,711,1,1,0,1
551830,380,735260,7,0,0,0,0,0
444443,1012,734894,6,535,1,0,0,0
672556,701,735606,5,672,1,1,0,0
463824,680,735628,6,995,1,0,0,0
...,...,...,...,...,...,...,...,...
610777,49,734884,2,377,1,0,0,0
474595,774,735618,1,742,1,0,0,1
372034,883,734885,5,558,1,1,0,0
416198,1022,734878,4,917,1,1,0,0
683132,243,734889,5,1106,1,1,0,0

In [98]:
scale = StandardScaler()
scale.fit(X_train)
X_train_scaled = scale.transform(X_train)
X_test_scaled = scale.transform(X_test)

# Lin Reg

In [99]:
linear_r = LinearRegression()
# unstandard
linear_r.fit(X_train, y_train)
print("Unstandard: ", linear_r.score(X_test, y_test))

Unstandard:  0.8537554550983811

In [100]:
#stardard
linear_r.fit(X_train_scaled, y_train)
print("Standard: ", linear_r.score(X_test_scaled, y_test))

Standard:  0.8537554550983812

# Ridge

In [101]:
ridge_r = Ridge()

#unstandard
ridge_r.fit(X_train, y_train)
print("Unstandard: ", ridge_r.score(X_test, y_test))

Unstandard:  0.8537554686765056

In [102]:
#standard
ridge_r.fit(X_train_scaled, y_train)
print("Standard: ",ridge_r.score(X_test_scaled, y_test))

Standard:  0.853755452533946

# Decision Tree

In [103]:
#create the model
tree = DecisionTreeRegressor()

#train the model unstandard
tree.fit(X_train, y_train)
print(tree.score(X_test, y_test))

0.9140122936133677

In [104]:
#train model standard
tree.fit(X_train_scaled, y_train)
print(tree.score(X_test_scaled, y_test))

0.9136494518121274

# XGBoost

In [9]:
features.dtypes

Store_ID               int64
Date                   int64
Day_of_week            int64
Nb_customers_on_day    int64
Open                   int64
Promotion              int64
State_holiday          int64
School_holiday         int64
dtype: object

In [8]:
#training
xgb_reg = xgb.XGBRegressor()

xgb_reg.fit(X_train, y_train)

xgb_reg.score(X_test, y_test)

XGBoostError: [15:55:53] C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-03de431ba26204c4d-1/xgboost/xgboost-ci-windows/src/data/data.cc:461: Check failed: valid: Label contains NaN, infinity or a value too large.

In [113]:
pickle.dump(xgb_reg, open("pickle/xgb_reg_model.p", "wb"))

In [5]:
xgb_model= pickle.load(open("pickle/xgb_reg_model.p", "rb"))

In [9]:
predicted_values = pd.DataFrame(final_data["True_index"], columns=["True_index"])
predicted_values

       True_index
0               7
1              19
2              31
3              45
4              56
...           ...
71200      712004
71201      712018
71202      712020
71203      712023
71204      712027

[71205 rows x 1 columns]

In [13]:
pred = pd.DataFrame(xgb_model.predict(features))

       True_index             0
0               7   -211.067474
1              19   3896.778076
2              31   6155.450684
3              45   3127.183594
4              56   3562.229980
...           ...           ...
71200      712004   6239.827148
71201      712018   9924.934570
71202      712020  16274.100586
71203      712023    -40.030163
71204      712027   4558.871094

[71205 rows x 2 columns]

In [15]:
sale_predictions= pd.merge(predicted_values, pred, left_index=True, right_index=True)
sale_predictions.to_csv("dataset/sale_predictions.csv", index=False)

In [106]:
xgb_reg.fit(X_train_scaled, y_train)

xgb_reg.score(X_test_scaled, y_test)

0.9602258038629693

In [107]:
# xgb_reg.score(X_train_scaled, y_train)
# xgb_reg.score(X_train, y_train)

# Ada

In [108]:
from sklearn.ensemble import AdaBoostRegressor

ada_reg = AdaBoostRegressor(
    DecisionTreeRegressor()
)

ada_reg.fit(X_train, y_train)
ada_reg.score(X_test, y_test)

0.95614716672804

In [109]:
ada_reg.fit(X_train_scaled, y_train)
ada_reg.score(X_test_scaled, y_test)

0.9562573706094333