In [1]:
import pandas as pd
import numpy as np
import pickle

In [66]:
data = pd.read_csv("dataset/Sales.csv")
display(data.head())
data.dtypes

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,2013-11-06,641,1,1,0,0,7293
1,1,293,2,2013-07-16,877,1,1,0,1,7060
2,2,39,4,2014-01-23,561,1,1,0,0,4565
3,3,676,4,2013-09-26,1584,1,1,0,0,6380
4,4,709,3,2014-01-22,1477,1,1,0,0,11647

True_index              int64
Store_ID                int64
Day_of_week             int64
Date                   object
Nb_customers_on_day     int64
Open                    int64
Promotion               int64
State_holiday          object
School_holiday          int64
Sales                   int64
dtype: object

In [10]:
print("Uniques, Holiday: ", data["State_holiday"].unique())
print("Uniques, Day of week: ", data["Day_of_week"].unique())
print("Uniques, School holiday: ", data["School_holiday"].unique())

Uniques, Holiday:  ['0' 'c' 'a' 'b']
Uniques, Day of week:  [3 2 4 6 1 5 7]
Uniques, School holiday:  [0 1]

In [29]:
data.sort_values(by="Sales", ascending=False).head(30)
print(data[data["State_holiday"] == 'a']["Sales"].value_counts())
data[data["State_holiday"] == 'a']["Sales"].count()

0       12413
6548        2
8365        2
7693        2
7488        2
        ...
6851        1
9804        1
7626        1
8929        1
3604        1
Name: Sales, Length: 421, dtype: int64

12842

In [30]:
12842-12413

429

In [37]:
print(data[data["State_holiday"] == "b"]["Sales"].value_counts())
print(data[data["State_holiday"] == "b"]["Sales"].count())
print(data[data["State_holiday"] == "b"]["Open"].value_counts())

0        4112
11343       1
4001        1
1519        1
13069       1
         ...
3242        1
15047       1
8364        1
18913       1
7340        1
Name: Sales, Length: 103, dtype: int64
4214
0    4112
1     102
Name: Open, dtype: int64

In [38]:
print(data[data["State_holiday"] == "c"]["Sales"].value_counts())
print(data[data["State_holiday"] == "c"]["Sales"].count())
print(data[data["State_holiday"] == "c"]["Open"].value_counts())

0        2576
7832        1
8513        1
13319       1
10895       1
5242        1
7475        1
15400       1
15449       1
16961       1
10666       1
7818        1
12074       1
10033       1
11106       1
4146        1
8890        1
6147        1
7138        1
4657        1
14166       1
6575        1
3178        1
11745       1
4601        1
5687        1
6148        1
6127        1
9741        1
4696        1
1800        1
26756       1
6680        1
7612        1
8057        1
13376       1
3277        1
13954       1
5424        1
3888        1
24245       1
32169       1
12961       1
4712        1
15117       1
5111        1
17597       1
3719        1
5784        1
Name: Sales, dtype: int64
2624
0    2576
1      48
Name: Open, dtype: int64

In [50]:
print(data["Store_ID"].value_counts())
len(data)

1045    645
309     636
754     635
286     634
432     634
       ...
287     448
1004    448
1065    445
81      438
542     436
Name: Store_ID, Length: 1115, dtype: int64

640840

In [81]:
sales = data.drop("Date", axis=1)
sales["Store_ID"] = sales["Store_ID"].apply(str)
state_hol = pd.get_dummies(sales["State_holiday"], prefix="State_holiday")
display(sales)
sales_merged = pd.merge(left= sales, right=state_hol, right_index=True, left_index=True)
sales_merged = sales_merged.drop("State_holiday", axis=1)
sales_merged.drop(columns="State_holiday_0", inplace=True)
#sales_merged = sales_merged[sales_merged["Open"]==1]
sales_merged["Day_of_week"] = sales_merged["Day_of_week"].apply(str)

,True_index,Store_ID,Day_of_week,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,641,1,1,0,0,7293
1,1,293,2,877,1,1,0,1,7060
2,2,39,4,561,1,1,0,0,4565
3,3,676,4,1584,1,1,0,0,6380
4,4,709,3,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
640835,712040,674,6,611,1,0,0,0,4702
640836,712041,1014,4,1267,1,1,0,0,12545
640837,712042,135,6,595,1,0,0,0,5823
640838,712043,810,1,599,1,1,0,1,7986
640839,712044,592,1,798,1,1,0,0,6565

In [64]:
sales_merged

,True_index,Store_ID,Day_of_week,Nb_customers_on_day,Open,Promotion,School_holiday,Sales,State_holiday_a,State_holiday_b,State_holiday_c
0,0,625,3,641,1,1,0,7293,0,0,0
1,1,293,2,877,1,1,1,7060,0,0,0
2,2,39,4,561,1,1,0,4565,0,0,0
3,3,676,4,1584,1,1,0,6380,0,0,0
4,4,709,3,1477,1,1,0,11647,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
640835,712040,674,6,611,1,0,0,4702,0,0,0
640836,712041,1014,4,1267,1,1,0,12545,0,0,0
640837,712042,135,6,595,1,0,0,5823,0,0,0
640838,712043,810,1,599,1,1,1,7986,0,0,0
640839,712044,592,1,798,1,1,0,6565,0,0,0

In [82]:
sales.to_csv("dataset/sales_s.csv")
sales_merged.to_csv("dataset/sales_merged.csv")